 <div class="form-row">
    <div class="form-group col-md-6">
      {{ form_row(form.username,{'label' : 'Nom utilisateur' , 'attr': {'placeholder' : 'Nom utilisateur'}}) }}
    </div>
  </div>

   <div class="form-row">
    <div class="form-group col-md">
      {{ form_row(form.email,{'label' : 'Email utilisateur' , 'attr': {'placeholder' : 'Adresse email'}}) }}
    </div>
  </div>

   <div class="form-row">
    <div class="form-group col-md-6">
       {{ form_row(form.password,{'label' : 'Mot de passe' , 'attr': {'placeholder' : 'Votre mot de passe'}}) }}
    </div>
  </div>


   <div class="form-row">
    <div class="form-group col-md-6">
      {{ form_row(form.confirm_password,{'label' : 'Confirmation du mot de passe' , 'attr': {'placeholder' : 'Confirmez votre mot de passe'}}) }}
    </div>

  </div>


{% block javascripts %}
{% endblock %}