{% extends '/base.html.twig' %}

{% block title %}Gestion des utilisateurs{% endblock %}
{% block stylesheets %}
   <link rel="stylesheet" href="/css/security/index.css"> 
   <link rel="stylesheet" href="/css/security/edit.css"> 
{% endblock %}

{% block body %}
	<div>
		<a href="{{path('security_registration')}}" class="addEntity">
			<button type="button" form="edit_user_form" class="btn btn-primary">Création d'un utilisateur</button>
		</a>
	</div>
      <table class="table table-striped" id="users">
         <thead class="thead-dark">
            <tr>
               <th scope="col">Nom</th>
               <th scope="col">email</th>
            </tr>
         </thead>
         <tbody>
         {% for user in users %}
              <tr data-href="{{ path('security_edit', {'id':user.id}) }}">
               <td>{{user.username}}</td>
               <td> {{user.email}}</td>
            </tr>
         {% endfor %}
           
         </tbody>
      </table>


{% endblock %}


{% block javascripts %}
   <script src="/js/security/index.js"></script>
   <script src="/js/modules/dynamicPopup.js"></script>
	<script> elementName = "table#users tbody tr"; dynamicPopup(elementName, "modal-area") </script>
{% endblock %}