<header>
	<div class="jumbotron bg-cover text-white">
		<div class="container py-5 text-center">
			<h1 class="display-4 font-weight-bold"> {{website_name}}  </h1>
			<p class="font-italic mb-0">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Recusandae odio omnis nam excepturi, iusto unde commodi? Laudantium corporis modi sunt odio nesciunt corrupti, voluptates perferendis similique maxime consectetur assumenda quam?</p>
		</div>
	</div>
</header>