{% extends 'base.html.twig' %}

{% block title %} Type d'horaires
{% endblock %}
{% block stylesheets %}
	{# <link rel="stylesheet" href="/css/schedule/index.css">#}
	<link rel="stylesheet" href="/css/schedule/edit.css">
{% endblock %}

{% block body %}
	<nav class="navbar navbar-expand-lg navbar-light bg-light">
		<a class="navbar-brand" href="#"></a>
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor02" aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="navbarColor02">
			<ul class="navbar-nav mr-auto">
				<li class="nav-item active">
					<a href="{{path('schedule_add')}}" class="nav-link">
						<button type="button" form="add_schedule_form" class="btn btn-primary">Ajouter un type horaire</button>
					</a>
				</li>
			</ul>
			<p id="extraButton"></p>
		</div>
	</nav>
	<div>
		<BR>
	</div>

	<table class="table table-striped popupTableAxios" id="schedules">
		<thead class="thead-dark">
			<tr>
				<th scope="col">Id</th>
				<th scope="col">Nom</th>

			</tr>
		</thead>
		<tbody>
			{% for schedule in schedules %}
				<tr data-href="{{ path('schedule_edit', {'id':schedule.id}) }}">
					<td>{{schedule.id}}</td>
					<td>{{schedule.name}}</td>

				</tr>
			{% endfor %}
		</tbody>
	</table>


{% endblock %}


{% block javascripts %}
	<script src="/js/schedule/index.js"></script>
	<script src="/js/modules/dynamicPopup.js"></script>
	<script>
		nameElement = "table#schedules tbody tr";
		dynamicPopup(nameElement, "modal-area")
	</script>
{% endblock %}
