
{% extends 'base.html.twig' %}

{% block title %}Création d'un employé{% endblock %}
{% block stylesheets %}
   <link rel="stylesheet" href="/css/employee/add.css"> 
{% endblock %}

{% block body %}
    
    
   {{ form_start(form, {'attr':{'id':'add_vehicle_form', 'class': 'form_add' }, 'method': 'POST', 'action': path('employee_add' )} ) }}
   
      {% include 'employee/form.html.twig' %}
 
      <button class="btn btn-primary" type="submit">Ajouter</button>
      <a href="{{path('employee')}}">
         <button type="button" class="btn btn-link">Retourner à la liste des employés</button>         
      </a>  
   {{ form_end(form) }}
    
{% endblock %}



