#div1, #div2, .allowDrop {
   width: 350px;
   height: 70px;
   padding: 10px;
   border: 1px solid #aaaaaa;
 }

 .draggable{
   display: block;
 }

 .button-list{
   display: flex;
 }

 .button-list button{
  margin-right: 10px;
}